.title {
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    margin: 30px;
    margin-bottom: 50px;
    font-size: 56px;
}

.content {
    display: flex;
    flex-direction: wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

.sectionInfo {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: white;
    font-size: 22px;
}

.section {
    align-items: center;
    display: flex;
    flex-direction: column;
    border: solid 1px white;
    border-radius: 20px;
    padding: 15px;
    margin: 10px;
    width: 800px;
}

.upItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    word-break:break-all;
    border: solid 1px white;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    width: 80%;
}

.fileName {
    font-family: 'Open Sans', sans-serif;
    color: white;
    word-wrap: break-word;
    font-size: 20px;
}

.dLink {
    text-align: center;
    color: black;
    background-color: #a5bef0;
    font-family: 'Open Sans', sans-serif;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    border: solid 2px #3e527a
}

.uploadButton {
    text-align: center;
    margin: 10px;
	background-color:#3f7efc;
    border-radius:12px;
    width: 90%;
	display:block;
	cursor:pointer;
	color: white;
    font-family: 'Open Sans', sans-serif;
	font-size:22px;
	padding:15px 18px;
	text-decoration:none;
}
.uploadButton:hover {
	background-color:#5454e8;
}
.uploadButton:active {
	position:relative;
	top:1px;
}
