.title {
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    margin: 30px;
    margin-bottom: 50px;
    font-size: 56px;
}

.sectionInfo {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: white;
    font-size: 22px;
}

.section {
    text-align: center;
    display: inline-table;
    vertical-align: text-top;
    border: solid 1px white;
    border-radius: 20px;
    padding: 15px;
    margin: 10px;
    width: 45%;
}

.upItem {
    display: inline-table;
    border: solid 1px white;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    width: 80%;
    text-align: center;
}

.fileName {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 16px;
}

.uploadButton {
    text-align: center;
    margin: 10px;
	background-color:#3f7efc;
	border-radius:12px;
	display:block;
	cursor:pointer;
	color: white;
    font-family: 'Open Sans', sans-serif;
	font-size:22px;
	padding:15px 18px;
	text-decoration:none;
}
.uploadButton:hover {
	background-color:#5454e8;
}
.uploadButton:active {
	position:relative;
	top:1px;
}
